.body{
    background-color: #18e605;
}

.peq{
    width: 50px;
    height: 50px;
}

.main-image img{
    width: 500px;
    margin-top: 35px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 3);
    max-width: 100%;
    padding: 20px;
}

.main-image{
    display: flex;
    justify-content: center;
}

.thumbnails{
    margin-top: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(11, 0, 0, 3);
}

.header{
    padding: 20px;
}

.links{
    display: inline;
    margin-left: 480px;
}

.span-1,
.span-2{
    font-weight: bold;
    font-size: x-large;
    font-family: Segoe UI;
}

.span-1{
    color: #0e8503;
}

.span-2{
    color: #18e605;
}

.links a{
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 3px;
    font-family: Segoe UI;
}

.links a:hover{
    color: #05e623;
    border-top: 2px solid #05e623;
    border-bottom: 2px solid #05e623;
}
-*copiado do style 5*