body{
    height: 100%;
    min-height: 100%;
    background: linear-gradient(90deg, #a120c9, #a18da1 100%);
    display: flex;
    justif-containt: center;
    aling-itens: center:
}

.tela{
    bacground-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 2px
}
